<h1 class="animated tada">Jobs</h1>
<div ng-app="app">
  <div ng-controller="jobsCtrl" ng-init="setup()">
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>

    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <input ng-model="newJobTitle" placeholder="Enter a title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <input ng-model="newJobDesc" placeholder="Enter a description" class="form-control" id="description">
      </div>
      <div class="form-group">
        <label class="control-label" for="salary">Salary:</label>
        <input ng-model="newJobSalary" placeholder="salary" class="form-control" id="salary">
      </div>
      <button ng-click="addJob(newJobTitle, newJobDesc, newJobSalary)" class="btn btn-primary">Add Job</button>
    </form>

    <datalist id="titles">
      <option ng-repeat="job in jobs">{{job.title}}</option>
    </datalist>

    <datalist id="descriptions">
      <option ng-repeat="job in jobs">{{job.description}}</option>
    </datalist>
  <br>
    <form class="form-inline" role="form">
      <label>Filter by Title:</label>
      <input ng-model="titleFilter" list="titles" class="form-control">
      <label>Filter by Description:</label>
      <input ng-model="descriptionFilter" list="descriptions" class="form-control">
    </form>
  <br>
  <table class="table">
    <tr>
      <th><a href="#" ng-click="toggleOrder('title')">Title</a></th>
      <th><a href="#" ng-click="toggleOrder('description')">Description</a></th>
      <th><a href="#" ng-click="toggleOrder('salary')">Salary</a></th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="job in jobs | filter: {title: titleFilter, description: descriptionFilter} | orderBy: orderAttribute:descending">
      <td>{{ job.title }}</td>
      <td>{{ job.description }}</td>
      <td>{{ job.salary }}</td>
      <td><a href="#" ng-click="deleteJob(job)">Delete</a></td>
    </tr>
  </table>



  </div>
</div>
