<h1 class="animated tada">Jobs</h1>
<div ng-app="app">
  <div ng-controller="jobsCtrl" ng-init="setup()">
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div>
      <input ng-model="newJobTitle" placeholder="title">
      <input ng-model="newJobDesc" placeholder="description">
      <input ng-model="newJobSalary" placeholder="salary">
      <button ng-click="addJob(newJobTitle, newJobDesc, newJobSalary)">Add Job</button>
    </div>

    <datalist id="titles">
      <option ng-repeat="job in jobs">{{job.title}}</option>
    </datalist>

    <datalist id="descriptions">
      <option ng-repeat="job in jobs">{{job.description}}</option>
    </datalist>

    <div>
      <label>Filter by Title:</label>
      <input ng-model="titleFilter" list="titles">
      <label>Filter by Description:</label>
      <input ng-model="descriptionFilter" list="descriptions">
    </div>
  <table>
    <tr>
      <th><a href="#" ng-click="toggleOrder('title')">Title</a></th>
      <th><a href="#" ng-click="toggleOrder('description')">Description</a></th>
      <th><a href="#" ng-click="toggleOrder('salary')">Salary</a></th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="job in jobs | filter: {title: titleFilter, description: descriptionFilter} | orderBy: orderAttribute:descending">
      <td>{{ job.title }}</td>
      <td>{{ job.description }}</td>
      <td>{{ job.salary }}</td>
      <td><a href="#" ng-click="deleteJob(job)">Delete</a></td>
    </tr>
  </table>



  </div>
</div>
